<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta charset="UTF-8">
<style>
    html, body, tr, td, hr {
        font-family: monospace, monospace;
        background-color: #333333;
        color: #EAC67A;
    }

    article {
        max-width: 800px;
        margin: auto;
    }

    a:link {
        color: #EAC67A;
    }

    a:visited {
        color: #EAC67A;
    }

    a:active {
        color: #EAC67A;
    }

    a:hover {
        color: #ffffff
    }
</style>
</head>
<article>
<header>
    <div class="container">
        <div class="d-flex flex-wrap">
            <div class="col-12 col-lg-auto me-lg-auto">
            <a href="{% url 'index' %}"><strong>ScottReads</strong></a>
            <a href="{% url 'currently-reading' %}">Currently Reading</a>
            <a href="{% url 'to-read' %}">To Read</a>
            <a href="{% url 'have-read' %}">Have Read</a>
            <a href="{% url 'book-list' %}">Books</a>
            <a href="{% url 'author-list' %}">Authors</a>
            <a href="{% url 'admin:index' %}">Admin </a>
            </div>
        </div>
    </div>
    <hr/>
</header>
<body>
{% block content %}
{% endblock content %}
</body>
</article>
</html>

