{% extends "books/base.html" %}
{% block content %}


<div class="container">

<h2>{{ object.title }}</h2>


{% if object.subtitle %}
    <p>{{ object.subtitle }}</p>
{% endif %}


{% for author in object.author.all %}
    <i><a href="{% url 'author-detail' author.id %}">{{ author }}</a>,</i>
{% endfor %}


<ul>
    <li>published: {{ object.pub_date|date:"Y" }}</li>
    <li>pages: {{ object.page_count }}</li>
    <li>read: {{ object.have_read }}</li>
    <li>genre: {% for genre in object.genre.all %} {{ genre.description }}, {% endfor %}</li>
    <li>publisher: {{ object.publisher }}</li>
    {% if object.isbn %}
        <li>ISBN: {{ object.isbn }}</li>
    {% endif %}
</ul>

</div>

{% endblock %}
