{% extends "books/base.html" %}
{% block content %}


<div class="container">

<h2 class="mb-3 mt-3">{{ object.title }}</h2>


{% if object.subtitle %}
    <p>{{ object.subtitle }}</p>
{% endif %}


{% for author in object.author.all %}
    <i><a class="text-dark" href="{% url 'author-detail' author.id %}">{{ author }}</a>,</i>
{% endfor %}


<ul>
    <li>published: {{ object.pub_date }}</li>
    <li>pages: {{ object.page_count }}</li>
    <li>read: {{ object.have_read }}</li>
</ul>

</div>

{% endblock %}
