{% extends "books/base.html" %}
{% block content %}

<div class="container">

<h2>To Read</h2>

<ul>
    {% for book in object_list %}
    <li>
        <a href="{% url 'book-detail' book.id %}">
            <strong>{{ book }}</strong> -
            {% for author in book.author.all %}
                {% if not forloop.last %}
                    <i>{{ author.name }}</i>,
                {% else %}
                    <i>{{ author.name }}</i>
                {% endif %}
            {% endfor %}
        </a>
    </li>
    {% endfor %}
</ul>

</div>

{% endblock %}
